`open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)`
- `'r' = open for reading (default)`
- `'w' = open for writing, truncating the file first``'x' = open for exclusive creation, failing if the file already exists`
- `'a' = open for writing, appending to the end of file if it exists`
- `'b' = binary mode`
- `'t' = text mode (default)`
- `'+' = open for updating (reading and writing)`
The default mode is `'r'` (open for reading text, a synonym of `'rt')`. Modes 'w+' and 'w+b' open and truncate the file. Modes 'r+' and 'r+b' open the file with no truncation.`

In [5]:
# .txt file open
# We will use the with statement and open() function to open the file, Then we will read the file using .read() and store it in a txt variable. 
# Once the code exits the with block, it closes the file

with open(file='/Users/raihannasir/Jupyter/test.txt', mode= 'r') as f:
    txt = f.read()
txt

"Python is an interpreted high-level general-purpose programming language.\\nIts design philosophy emphasizes code readability with its use of significant indentation. \\nIts language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects',\n 'this is another file example!!!\\nThis is the second line from the text file."

In [6]:
len(txt)

397

In [7]:
txt[34:90]

'l general-purpose programming language.\\nIts design phil'

In [8]:
# Python library called glob to show the current files in the directory and specify the type of files we want to consider; in this case, all txt files (*.txt).

import glob
glob.glob(pathname="*.txt")

['Test.txt']

In [9]:
list_txt_files = []

for txt_file in glob.glob(pathname="*.txt"):
  with open(file=txt_file, mode='r') as f:
    lines = f.read()
    list_txt_files.append(lines)

list_txt_files

["Python is an interpreted high-level general-purpose programming language.\\nIts design philosophy emphasizes code readability with its use of significant indentation. \\nIts language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects',\n 'this is another file example!!!\\nThis is the second line from the text file."]

In [10]:
import pandas as pd

In [11]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/raihannasir/Jupyter/Project_template/.venv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/raihannasir/Jupyter/Project_template/.venv/lib/python3.12/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
df = pd.read_csv("/Users/raihannasir/Documents/Pandas/Dataset & Practice Materials/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
df1 = pd.read_excel("/Users/raihannasir/Documents/Pandas/Dataset & Practice Materials/stock_data.xlsx")
df1

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata